.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 60px;

    input{
        padding: 10px;
        margin-top: 10px;
        width: 40%;
        text-align: center;
    }
}